<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Dashi</title>
  <meta name="description" content="Dashi is a redirector">
  <meta name="author" content="Jamu Kakar <jkakar@kakar.ca>">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="static/images/favicon.png">
</head>

<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 10%;">
        {{ range $team := .Teams }}
        <h4>{{ $team.Name}}</h4>
        <p>
          {{ range $service := $team.Services }}
          {{ range $dashboard := $service.Dashboards }}
          <a href="{{ $dashboard.URL }}">{{ $service.Name }} {{ $dashboard.Name }}</a><br/>
          {{ end }} <!-- /dashboards -->
          {{ end }} <!-- /services -->
        </p>
        {{ end }} <!-- /teams -->
        <p style="margin-top: 12%; margin-bottom: 10%; text-align: center;"><img src="/static/images/heart-128x128.png" /><p>
        <p style="margin=bottom: 10%;"><small style="color: #aaa;">Contribute at <a href="https://github.com/jkakar/dashi" style="color: #aaa">github.com/jkakar/dashi</a>.</small><p>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
